{{ define "main" }}
<div>

  <!-- Banner -->
  <div class="h-80 flex items-center justify-center bg-gradient-to-br bg-fixed
  from-blue-900 via-blue-950 to-neutral-950">
    <section class="text-center">
      <h1 class="text-5xl font-bold text-slate-200 dark:text-white">George Spake</h1>
      <p class="text-xl text-slate-400 dark:text-slate-300 mt-2">Software Engineer from Memphis, TN</p>
    </section>
  </div>

  <!-- Projects -->
  <div class="flex flex-auto justify-center">
    <div class="w-full max-w-4xl lg:max-w-5xl flex flex-col gap-8 mt-6 ">
      <div class="p-6 lg:p-0">
        <h2 class="text-3xl font-extralight text-slate-800 dark:text-white mb-4">Projects</h2>
        <ul class=" grid grid-cols-1 sm:grid-cols-2 gap-6 lg:grid-cols-1">
          {{ $projects := first 4 (where site.RegularPages "Section" "projects") }}
          {{ range $projects }}
          <li class="h-full">
            {{ partial "project-card.html" . }}
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="mb-8 text-right">
        <a href="/projects" class="font-extralight text-2xl text-neutral-500 dark:text-neutral-300 hover:underline">
          All Projects →
        </a>
      </div>
    </div>
  </div>

  <!-- Posts -->
  <div class="w-full bg-gradient-to-br bg-fixed
  from-blue-900 via-blue-900 to-blue-950">
    <div class="flex flex-auto justify-center">
      <div class="w-full max-w-4xl lg:max-w-5xl flex flex-col gap-8 mt-6 ">
        <h2 class="text-3xl font-extralight text-white">Posts</h2>
        {{ $posts := first 3 (where site.RegularPages "Section" "blog") }}
        {{ range $posts }}
        <article class="flex flex-col mx-2 md:mx-0 overflow-hidden shadow-md bg-white dark:bg-black/20">
          <div>
            <a href="{{ .RelPermalink }}">
              {{ partial "block/image.html" . }}
            </a>
          </div>
          <div class="flex flex-col gap-y-3 p-6">
            <h3 class="text-slate-600 dark:text-slate-300 text-xl font-semibold">
              <a href="{{ .RelPermalink }}">{{ .Title | .RenderString }}</a>
            </h3>

            {{ partial "block/desc.html" . }}
            {{ partial "block/taxonomies.html" .}}

            {{ partial "block/time.html" . }}
            {{ partial "block/author.html" . }}
          </div>
        </article>
        {{ end }}
        <div class="mb-8 text-right">
          <a href="/blog" class="font-extralight text-2xl text-neutral-300 hover:underline">
            All posts →
          </a>
        </div>
      </div>
    </div>
  </div>


</div>
{{ end }}
