{{ define "main" }}
<div class="w-full max-w-4xl lg:max-w-5xl">
  <h1 class="text-3xl my-6 pb-4 font-extralight text-slate-800 dark:text-white">
    {{ .Title | .RenderString }}
  </h1>

  <h2 class="text-2xl my-6 font-light text-slate-800 dark:text-white">
    Education
  </h2>
  <ul>
    <li class="pb-4">
      <p class="text-xl font-semibold text-slate-800 dark:text-slate-200">M.S.B.A. Concentration in Business Information Technology MIS</p>
      <p>University of Memphis • 2016</p>
    </li>
    <li>
      <p class="text-xl font-semibold text-slate-800 dark:text-slate-200">
        B.B.A. in Finance; Concentration: Real Estate
      </p>
      <p>University of Memphis • December 2010</p>
    </li>
  </ul>

  <h2 class="text-2xl my-6 font-light text-slate-800 dark:text-white">
    Work Experience
  </h2>
  <div class="p-6 lg:p-0">
    <ul class="grid grid-cols-1 gap-6">
      {{ $positions := first 20 (where site.RegularPages "Section" "positions") }}
      {{ range $positions }}
      <li class="h-full">
        {{ partial "position-card.html" . }}
      </li>
      {{ end }}
    </ul>
  </div>

  <h2 class="text-2xl my-6 font-light text-slate-800 dark:text-white">
    Certifications
  </h2>
  <ul>
    <li class="pb-4">
      <p class="text-xl font-semibold text-slate-800 dark:text-slate-200">
        Comp TIA A+
      </p>
      <p>Expired June 2015</p>
    </li>
    <li  class="pb-4">
      <p class="text-xl font-semibold text-slate-800 dark:text-slate-200">
        CIW Internet Business Associate (1D0-61A)
      </p>
    </li>
    <li>
      <p class="text-xl font-semibold text-slate-800 dark:text-slate-200">
        Tech 901 Code 1.0
      </p>
    </li>
  </ul>
</div>
{{ end }}
